<!DOCTYPE html>
<html>
  <head>
    <meta charset=UTF-8 />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/main.css") }}' />
    <link rel="shortcut icon" href="#">
    <script src='{{ url_for("static", filename="js/jquery.min.js") }}'></script>
  </head>
  <body>
    <div class="backgrounddiv"><img style="-webkit-user-select: none;" src="https://10.42.0.1:5000/video_socket"  /></div>
    <div class="maskdiv"><img style="-webkit-user-select: none;" src="static/model/mask.png"  /></div>
    <script type="module">
      import * as THREE from '{{ url_for("static", filename="js/three.module.js") }}'
      import { GLTFLoader } from '{{ url_for("static", filename="js/GLTFLoader.js") }}'
      import { DeviceOrientationControls } from '{{ url_for("static", filename="js/DeviceOrientationControls.js") }}';
      import { StereoEffect } from '{{ url_for("static", filename="js/StereoEffect.js") }}';;
      
      var $ = jQuery;
      $.ajaxSetup({async:false});
      var scene, camera, renderer, container_front, effect, controls;
      var prevtheta = 90;
      var theta = 90;
      var mouseX = 0, mouseY = 0;
			var windowHalfX = window.innerWidth / 2;
			var windowHalfY = window.innerHeight / 2;

      init();
      animate();

      function init() {
        
				container_front = document.createElement( 'div' );
				container_front.style.position = "absolute"
        
        document.body.appendChild( container_front );

        scene = new THREE.Scene();
        scene.background = null;
      
        camera = new THREE.PerspectiveCamera(40,window.innerWidth/window.innerHeight,1,5000);
        
        camera.position.x = 80;
        camera.position.y = 120;
        camera.position.z = 0;

        var hlight = new THREE.AmbientLight (0xffffff,15);
        //hlight.position.set(20,55,-30);
        scene.add(hlight);

        var directionalLight = new THREE.DirectionalLight(0xffffff,15);
        directionalLight.position.set(80,130,0);
        directionalLight.castShadow = true;
        scene.add(directionalLight);
              
        // Instantiate a loader
        var loader = new GLTFLoader();
          
        // Load a glTF resource
        loader.load(
        	// resource URL
          '{{ url_for("static", filename="model/scene.gltf") }}',
        	// called when the resource is loaded
        	function ( gltf ) {
            
        		scene.add( gltf.scene );

            //gltf.scene.rotation.x = -90.0/180.0*Math.PI;;
            
            gltf.scene.position.x = 0; //Position (x = right+ left-) 
            gltf.scene.position.y = 0; //Position (y = up+, down-)
	          gltf.scene.position.z = 0; //Position (z = front +, back-)
            //gltf.scene.rotateOnWorldAxis((1,0,0),90.0/180.0*Math.PI);
            
        		gltf.animations; // Array<THREE.AnimationClip>
        		gltf.scene; // THREE.Group
        		gltf.scenes; // Array<THREE.Group>
        		gltf.cameras; // Array<THREE.Camera>
        		gltf.asset; // Object
                
        	},
        	// called while loading is progressing
        	function ( xhr ) {
            
        		console.log( ( xhr.loaded / xhr.total * 100 ) + '% loaded' );
            
        	},
        	// called when loading has errors
        	function ( error ) {
            
        		console.log( 'An error happened' );
            
          }
        
        );

        renderer = new THREE.WebGLRenderer({ alpha: true, premultipliedAlpha: false, antialias: true });
        renderer.setClearColor( 0x000000, 0 );
        renderer.setSize(window.innerWidth,window.innerHeight);
        
        controls = new DeviceOrientationControls( camera );
        controls.enabled = true
        
        controls.target = new THREE.Vector3(80.1, 120, 0);
        //controls.alphaOffset = -90.0/180.0*Math.PI

        controls.update();
        
        renderer.render(scene, camera);
        
        effect = new StereoEffect( renderer );
        //effect.eyeSeparation = 15; 
				effect.setSize( window.innerWidth, window.innerHeight );
        
        container_front.appendChild(renderer.domElement);
        
      }

      function animate() {
        //set time out for efficient rendering, you may not need more then 30fps for this purpose 
        setTimeout( function() {

          requestAnimationFrame( animate );

        }, 1000 / 24 );

        setTimeout( function() {
        var target = new THREE.Vector3(80.1, 120, 0);
        var vector = camera.getWorldDirection(target);
        var theta = THREE.Math.radToDeg(Math.atan2(target.z,Math.sqrt(target.x*target.x+target.y*target.y))) + 90;
        
        var x_floor = Math.floor(target.x);
        var y_floor = Math.floor(target.y);

        if (theta < 15){
          theta = 15; 
        }

        if (theta > 165){
          theta = 165;
        }
        
        if (x_floor == 0)
        {
          prevtheta = theta
        }
        
        var url = "https://10.42.0.1:5000/servo_socket?angle="
        var route = url.concat(Math.floor(prevtheta).toString()); 
        $.get(route,
        function(data, status){
          alert("Data: " + data + "\nStatus: " + status);
        });
        }, 1000 / 100 );
        
        render();
        controls.update();
      }

      function render() {
        effect.render( scene, camera ); 
      }

      
    </script>
  </body>
</html>